<label>Modèle
  <select name="modele">
    <option value="ACTUEL" {{ 'selected' if 'modele' in form and form['modele'] == 'ACTUEL' }}>ACTUEL</option>
    <option value="ACTUEL_MODIF" {{ 'selected' if 'modele' in form and form['modele'] == 'ACTUEL_MODIF' }}>ACTUEL_MODIF</option>
    <option value="DELEVOYE" {{ 'selected' if 'modele' in form and form['modele'] == 'DELEVOYE' }}>DELEVOYE</option>
    <option value="COMM_PM" {{ 'selected' if 'modele' in form and form['modele'] == 'COMM_PM' }}>COMM_PM</option>
  </select>
</label>
